table{
    width: 100%;
    border-collapse:collapse;
    border: 1px solid rgb(34, 34, 32); 
}
th,td{
    border-radius: 1px solid black;
    padding: 10px;
    text-align: justify;
}
h1{
    color: rgb(182, 179, 39);
}
th{
    color: brown;
    background-color: darkgreen;
}
tr:nth-child(even){
    background-color: burlywood;
}